
/* Allocate a single column when the width of the page is small. */
.post-section {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-column-gap: 20px;
}

/* Allocated two columns when there is enough width. *
* The ToC is placed in the second column, while the rest of
* the children are placed in the first column. */
@media (min-width: 1200px) {

  .post-section .toc {
      position: sticky;
      top: 10px;
  }
}

.post-single .toc {
  height: fit-content;
  grid-row: span 3;
  margin-top: 16px;
} 

.post-single .toc .inner {
  padding: 0px;
  margin: 10px 0; 
  font-size: 14px;
} 


/* Make the ToC scrollable */
.post-single .toc #TableOfContents {
  overflow-y: auto;
  max-height: 70vh;
}